body {
    font-size: 16px;
    font-style: italic;
    line-height: 500%;
    text-align: right;
    text-decoration: underline;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

.background-color {
    background-color: blue;
}

p {
    font-weight: 600;
    font-size: 3em;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}
