.super-mario {
    width: 200px;
    position: absolute;
    left: 170px;
    top: 110px;
}
  
.goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 200px
}
  
.baloon {
    position: absolute;
    left: 400px;
    top: 250px;
}
  
.speach {
    font-size: 25px;
    position: absolute;
    left: 420px;
    top: 290px;
    z-index: 1;
}
  
.bowser {
    width: 200px;
    position: absolute;
    top: 400px;
    left: 700px;
}